@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* NavBar styles */
header{
  background-color: #1A0B2E;
  max-width: 1600px;
  margin: 0 auto;
  color: #ffffff;
}
.logo{
  font-size: 2.8rem;
  font-weight: 700;
}
.logo span{
  color: #9100F8;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 200px;
  border-bottom: 1px solid #9100F8;
}
.menu-links{
  display: flex;
  gap: 32px;
}
.nav-bar .menu-links li a{
  color: #ffffff;
}
.menu-links li{
  list-style: none;
}
.menu-links li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
.btn{
border: none;
 background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);;
 color: #ffffff;
 padding: 12px 16px;
 font-size: 1rem;
 font-weight: 600;
 border-radius: 25px;
 cursor: pointer;
 transition: 0.3s ease-out;
}
.btn:hover{
  transform: scale(1.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

/* BannerSection Styles */
  .banner-section{
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 100vh;
  /* border: 1px solid black; */
  margin: 0 auto;
  margin-bottom: 101px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.banner-img{
  /* border: 1px solid white; */
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 340px;
  
}
.img1{
  margin-top: 45px;
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.img2{
  margin-top: 50px;
  position: absolute;
  top: 0px;
  /* left: 0px; */
  z-index: 2;
}
.banner-content{
  text-align: center;
  color: white;
}
.banner-content h1{
  font-size: 3.75rem;
  font-weight: 800;
}
.banner-content p{
  font-size: 1rem;
  font-weight: 400;
  margin: 24px ;
}
.btn2{
 background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);;
 color: #ffffff;
 padding: 12px 16px;
 font-size: 1rem;
 font-weight: 600;
 border-radius: 25px;
 cursor: pointer;
 transition: 0.3s ease-out;
}
.btn2:hover{
  margin-right: 8px;
  transform: scale(1.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}
.btn3{
  border: 1px solid #00FF88;
background-color: transparent;
 color: #00FF88;
 padding: 12px 16px;
 font-size: 1rem;
 font-weight: 600;
 border-radius: 25px;
 cursor: pointer;
 transition: 0.3s ease-out;
}
.btn3:hover{
  margin-left: 8px;
  transform: scale(1.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}