@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: #1a0b2e;
}
/* NavBar styles */
header {
  background-color: #1a0b2e;
  max-width: 1600px;
  margin: 0 auto;
  color: #ffffff;
}
.logo {
  font-size: 2.8rem;
  font-weight: 700;
}
.logo span {
  color: #9100f8;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 200px;
  border-bottom: 1px solid #9100f8;
}
.menu-links {
  display: flex;
  gap: 32px;
}
.nav-bar .menu-links li a {
  color: #ffffff;
}
.menu-links li {
  list-style: none;
}
.menu-links li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
.btn {
  border: none;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  color: #ffffff;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

/* BannerSection Styles */
.banner-section {
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 100vh;
  /* border: 1px solid black; */
  margin: 0 auto;
  /* margin-bottom: 101px; */
  display: grid;
  align-items: center;
  justify-content: center;
}
.banner-img {
  /* border: 1px solid white; */
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 340px;
}
.img1 {
  margin-top: 45px;
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.img2 {
  margin-top: 50px;
  position: absolute;
  top: 0px;
  /* left: 0px; */
  z-index: 2;
}
.banner-content {
  text-align: center;
  color: white;
}
.banner-content h1 {
  font-size: 3.75rem;
  font-weight: 800;
}
.banner-content p {
  font-size: 1rem;
  font-weight: 400;
  margin: 24px;
}
.btn2 {
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  color: #ffffff;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.btn2:hover {
  margin-right: 8px;
  transform: scale(1.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}
.btn3 {
  border: 1px solid #00ff88;
  background-color: transparent;
  color: #00ff88;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.btn3:hover {
  margin-left: 8px;
  transform: scale(1.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

/* About Section styles */
.about-section {
  width: 1200px;
  background-color: #1a0b2e;
  /* border: 1px solid white; */
  color: white;
  margin: 0 auto;
}
.about-content {
  text-align: center;
}
.about-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.about-content .p1 {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}
.about-content .p2 {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 80px;
}
hr {
  width: 50%;
  height: 2px;
  background-color: #ff0080;
  margin: 0 auto;
  margin-bottom: 80px;
}
.about-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.about-numbers h1 {
  text-align: center;
  color: #00ff88;
  font-size: 2.8rem;
}
.about-numbers p {
  margin-bottom: 120px;
  font-size: 1rem;
  font-weight: 400;
}

/* service */
.techwave-container {
  background: #230e3d;
  color: white;
}
.premium {
  grid-area: audio;
}
.mobile {
  grid-area: mobile;
}
.global {
  grid-area: global;
}
.interview {
  grid-area: interview;
}
.resources {
  grid-area: resources;
}
.service-container {
  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "audio     mobile    mobile"
    "audio     global    global"
    "interview interview resources";
}
.card {
  background: #250d44;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 30px;
}
.service-title {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 700;
}

.service-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}
.service-p {
  font-size: 16px;
  line-height: 24px;
}

/* featured */
.featured-episodes {
  max-width: 1200px;
  padding-top: 120px;
  margin: 0 auto;
}

.episode-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.video h1 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 12px;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
}
.video p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
  padding: 24px;
}
.video {
  background-color: #250d44;
  margin-bottom: 120px;
  border-radius: 10px;
}
.video .time {
  color: #00ff88;
  margin-right: 6px;
  font-weight: 400;
  font-size: 1rem;
}
.featured-episode {
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 3rem;
}

.host-section {
  max-width: 1200px;
  margin: 0 auto;
}

.host-content {
  background-color: #250d44;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.host-section h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 3rem;
}

.host-title h1 {
  font-size: 2rem;
  margin-bottom: 16px;
  text-align: left;
}

.host-title p {
  max-width: 896px;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 16px;
}
.host-title img {
  margin-right: 8px;
}

.footer-section {
  background-image: url(../assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1660px;
  height: 412px;
  margin: 0 auto;
  margin-top: 120px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-content {
  display: flex;
  gap: 8px;
  margin-bottom: 35px;
}
.margin {
  margin-right: 32px;
}
.footer-content h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 4.5rem;
  font-weight: 700;
}
.wave {
  color: #fb09b4;
}
.copyright {
  text-align: center;
}

.hamburger-icon {
  display: none;
  width: 28px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .nav-bar {
    padding: 20px 20px;
  }
  .menu-links {
    display: none;
  }
  .btn {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .logo {
    font-size: 2rem;
  }

  .banner-section {
    height: auto;
    padding: 60px 16px;
  }

  .banner-img {
    width: 200px;
    height: 200px;
  }

  .img1 {
    top: -30px;
  }

  .img2 {
    width: 80px;
    height: auto;
  }

  .banner-content h1 {
    font-size: 2.2rem;
    margin-top: 24px;
  }

  .banner-content p {
    font-size: 1rem;
    padding: 0 20px;
  }
  .btn2,
  .btn3 {
    display: inline;
    padding-left: 0 22px;
    margin: 10px auto;
    font-size: 1rem;
  }

  .about-section {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 40px;
  }

  .about-content h1 {
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 2rem;
  }

  .about-content .p1,
  .about-content .p2 {
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 16px;
    max-width: 400px;
  }

  hr {
    width: 80%;
    margin-bottom: 40px;
  }

  .about-numbers {
    flex-wrap: wrap;
    gap: 40px;
  }

  .about-numbers h1 {
    font-size: 2rem;
  }

  .about-numbers p {
    margin-bottom: 0;
    padding-top: 12px;
    font-size: 0.9rem;
  }

  .service-title {
    font-size: 2rem;
    padding-top: 40px;
    margin-bottom: 16px;
  }

  .service-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "audio"
      "mobile"
      "global"
      "interview"
      "resources";
    gap: 16px;
  }

  .card {
    padding: 24px;
  }

  .service-heading {
    font-size: 1.3rem;
  }

  .service-p {
    font-size: 1rem;
    line-height: 20px;
  }

  .icon {
    width: 50px;
  }

  .featured-episodes {
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 60px;
  }

  .featured-episode {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  .episode-container {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .video {
    margin-bottom: 16px;
  }

  .video iframe {
    width: 100%;
    height: 200px;
  }

  .video h1 {
    font-size: 1.2rem;
    padding: 16px;
  }

  .video p {
    font-size: 0.9rem;
    padding: 0 16px 16px 16px;
  }

  .video .time {
    padding-left: 16px;
    font-size: 1rem;
  }

  .host-section {
    padding: 0 24px;
  }

  .host-section h1 {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  .host-content {
    flex-direction: column;
    padding: 16px 24px;
    text-align: center;
  }

  .host-content .div img {
    width: 150px;
    margin-bottom: 16px;
  }

  .host-title h1 {
    font-size: 1.3rem;
    text-align: center;
  }

  .host-title p {
    font-size: 1rem;
    line-height: 20px;
  }

  .host-title img {
    width: 28px;
    margin: 0 6px;
  }
  .footer-section {
    height: auto;
    padding: 40px 20px;
    margin-top: 60px;
  }

  .footer-content h1 {
    font-size: 3rem;
    margin-bottom: 24px;
  }

  .social-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-bottom: 24px;
    width: 300px;
  }

  .social-content img {
    width: 24px;
  }

  .social-content p {
    font-size: 1rem;
    margin-right: 10px;
  }

  .margin {
    margin-right: 16px;
  }

  .copyright {
    font-size: 0.8rem;
    padding: 0 10px;
    line-height: 20px;
  }
}
